mixin footer()
    footer.footer 
        .container.footer-con
            .footer__logo LOGO
            .footer__nav
                ul
                    li
                        a(href="#") Exchanges
                    li
                        a(href="#") Exchanges
                    li
                        a(href="#") Exchanges
                    li
                        a(href="#") Exchanges
                    li
                        a(href="#") Exchanges
            .footer__socials 
                ul
                    li
                        a(href="#") 
                            img(src="@img/twitter.svg", alt="")
                    li
                        a(href="#")
                            img(src="@img/telegram.svg", alt="")
                    li
                        a(href="#")
                            img(src="@img/facebook.svg", alt="")
            p.footer__paragraph Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum delectus rerum at reiciendis facilis eveniet iste accusantium magnam modi! Et?