mixin main()
    main.main#main
        .main__path.container
            a(href="#") exchange
            a(href="#") currency
        .container.main-con
            .main-left 
                .main__new#news
                    .main__new-title
                        p Вы должны получить денежный перевод от ваших близких в Европе?
                        .main__new-info
                            p 10.12.2022
                            a(href="#").main__new-info__telegram
                                p Читайте нас в телеграм 
                                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M46.137,6.552c-0.75-0.636-1.928-0.727-3.146-0.238l-0.002,0C41.708,6.828,6.728,21.832,5.304,22.445	c-0.259,0.09-2.521,0.934-2.288,2.814c0.208,1.695,2.026,2.397,2.248,2.478l8.893,3.045c0.59,1.964,2.765,9.21,3.246,10.758	c0.3,0.965,0.789,2.233,1.646,2.494c0.752,0.29,1.5,0.025,1.984-0.355l5.437-5.043l8.777,6.845l0.209,0.125	c0.596,0.264,1.167,0.396,1.712,0.396c0.421,0,0.825-0.079,1.211-0.237c1.315-0.54,1.841-1.793,1.896-1.935l6.556-34.077	C47.231,7.933,46.675,7.007,46.137,6.552z M22,32l-3,8l-3-10l23-17L22,32z"/></svg>
                        hr
                    p.main__new-paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dolor. Aut similique eius fuga. Odit eius accusamus sint? Dolorem, commodi fuga asperiores qui consequuntur eius exercitationem quisquam nostrum laboriosam eos vero molestias minima assumenda illo libero quas earum aperiam nisi cum nam cupiditate molestiae rem hic maxime? Molestiae, ratione mollitia.
                    .main__new-source
                        p Источник:
                        a(href="#") HamkorBank
                .main__exchanges.left-wrapper
                    .main__exchanges-title Курсы вальют 
                    hr 
                    .main__exchanges-con
                        .main__exchanges-side
                            .main__exchanges-side__row
                                .main__exchanges-side__col-first Валюта
                                .main__exchanges-side__col-first Курс ЦБ РУз
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat -24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                        .main__exchanges-side
                            .main__exchanges-side__row
                                .main__exchanges-side__col-first Валюта
                                .main__exchanges-side__col-first Курс ЦБ РУз
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat -24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                .main__offer.left-wrapper
                    h1.main__offer-title Лучшие курсы обмена валют в обменных пунктах
                    .main__offer-btn
                        ul
                            li
                                //- berilgan slide number keraklik slideni chaqiradi
                                a(slide-number="1").active UZS
                            li
                                a(slide-number="2") RUB
                            li
                                a(slide-number="3") USD
                            li
                                a(slide-number="4") KZT
                            li
                                a(slide-number="5") GBP
                    .main__offer-con__padding
                        .main__offer-con.active(slide-number="1")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                        .main__offer-con(slide-number="2")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                        .main__offer-con(slide-number="3")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                        .main__offer-con(slide-number="4")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                        .main__offer-con(slide-number="5")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                .main-left__ad
                    p ad
                .main-news
                    h2.main-news__title Новости
                    hr
                    .main-news__box
                        a(href="#").main-news__box-title Вы должны получить денежный перевод от ваших близких в Европе?
                        .main-news__box-info
                            p Hamkorbank
                            p 10.12.2022
                    .main-news__box
                        a(href="#").main-news__box-title Вы должны получить денежный перевод от ваших близких в Европе?
                        .main-news__box-info
                            p Hamkorbank
                            p 10.12.2022
                    .main-news__box
                        a(href="#").main-news__box-title Вы должны получить денежный перевод от ваших близких в Европе?
                        .main-news__box-info
                            p Hamkorbank
                            p 10.12.2022
                    .main-news__box
                        a(href="#").main-news__box-title Вы должны получить денежный перевод от ваших близких в Европе?
                        .main-news__box-info
                            p Hamkorbank
                            p 10.12.2022
                    .main-news__box
                        a(href="#").main-news__box-title Вы должны получить денежный перевод от ваших близких в Европе?
                        .main-news__box-info
                            p Hamkorbank
                            p 10.12.2022
            .main-right
                .main-right__ad
                    p ad
                .main__convert-con
                    h2.main__convert-con__title Конвертор
                    .convert_block_item
                        input(type="number" placeholder="введите сумму...")#val
                        select#cur1
                            option USD
                            option EUR
                            option RUB
                            option UZS
                    .arrow-down 
                        img(src="@img/arrow-down.svg", alt="")
                    .convert_block_item
                        .result__con
                            p.convert_result 0
                        select#cur2
                            option USD
                            option EUR
                            option RUB
                            option UZS
