mixin menu()
    .menu#menu
        .container.menu__con
            ul.menu__ul
                li.menu__li
                    a(href="#") Курсы валют
                li.menu__li
                    a(href="#") Курсы ресурсов
                li.menu__li
                    a(href="#") Новости
                li.menu__li
                    a(href="#") Курсы валют
                li.menu__li
                    a(href="#") Курсы валют
                li.menu__li
                    a(href="#") Курсы валют
                li.menu__li
                    a(href="#") Курсы валют
            .locations-rate
                .locations-rate__con
                    .locations-rate__box
                        img(src="@img/en.png", alt="")
                        p usd
                        p 11.335
                        //- agar stat minusdan dan boshlansa qizil boladi yoki yashil
                        p.stat +12
                    .locations-rate__box
                        img(src="@img/en.png", alt="")
                        p usd
                        p 11.335
                        p.stat +12
                    .locations-rate__box
                        img(src="@img/en.png", alt="")
                        p usd
                        p 11.335
                        p.stat +12
                    .locations-rate__box
                        img(src="@img/en.png", alt="")
                        p usd
                        p 11.335
                        p.stat +12
                    .locations-rate__box
                        img(src="@img/en.png", alt="")
                        p usd
                        p 11.335
                        p.stat -12
                    .locations-rate__box
                        img(src="@img/en.png", alt="")
                        p usd
                        p 11.335
                        p.stat -12
                    .locations-rate__box 
                        img(src="@img/en.png", alt="")
                        p usd
                        p 11.335
                        p.stat +12